<div class="panel-body">



    <!-- <p class="lead">All you ever wanted to know, and then some...</p> -->

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12" id="husband">
        <form>
        <h4 class="parents"><span id="husband-span"></span> {{husbandName}} </h4>
        <div class="well admin-well" id="husband-parents"><span id="husband-father">

        <a href="#/{{husbandParents}}edit">Parents</a>

        </span><span id="husband-mother"></span> <span class="admin-widget glyphicon glyphicon-cog"></span>
</div>

        <legend for="husband">Husband</legend>


<!--
                    
          <div class="form-group">
            <label for="husband-name">Name</label> <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control" id="husband-name" placeholder="Unknown">

          </div>
          !-->
       
          <div class="form-group">
            <label for="husband-birth-date">Birth Date</label> <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" data-id="{{husbandId}}" data-tag="BIRT" aria-hidden="true"></span>
</button>
            <input type="text" data-tag="BIRT" data-id="{{husbandId}}" class="form-control main-input" id="birthDate" placeholder="{{husbandBirthDate}}" value="{{husbandBirthDate}}">

          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Birth Place</label><button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" data-id="{{husbandId}}" data-tag="BIRT" data-source="birthplace"aria-hidden="true"></span>
</button>
            <input type="text" class="form-control main-input" id="husband-birth-place" placeholder="{{husbandBirthPlace}}" value="{{husbandBirthPlace}}">
          </div>
          <div class="form-group">
            <label for="husband-death-date">Death Date</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" data-id="{{husbandId}}" data-tag="DEAT" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control main-input" id="husband-death-date" placeholder="{{husbandDeathDate}}" value="{{husbandDeathDate}}">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Death Place</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" data-id="{{husbandId}}" data-tag="DEAT" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control main-input" id="husband-death-place" placeholder="{{husbandDeathPlace}}" value="{{husbandDeathPlace}}">
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12" id="wife">
        <form>
 <h4 class="parents"><span id="wife-span">{{wifeName}}</span></h4>
        <div class="well"><span id="wife-father">
          

        <a href="#/{{husbandParents}}edit">Parents</a>


        </span><span id="wife-mother"></span> <span class="admin-widget glyphicon glyphicon-cog"></span></div>
          <legend>Wife</legend>


           <h4 class ="dog"></h4>
           <!--
          <div class="form-group">
            <label for="wife-name">Name</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control" id="wife-name" placeholder="Unknown">
          </div>
          !-->
          <div class="form-group">
            <label for="wife-birth-date">Birth Date</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control" id="wife-birth-date" placeholder="{{wifeBirthDate}}" value="{{wifeBirthDate}}">
          </div>
          <div class="form-group">
            <label for="wife-birth-place">Birth Place</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control" id="wife-birth-place" placeholder="{{wifeBirthPlace}}" value="{{wifeBirthPlace}}">
          </div>
          <div class="form-group">
            <label for="wife-death-date">Death Date</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control" id="wife-death-date" placeholder="{{wifeDeathDate}}" value="{{wifeDeathDate}}">
          </div>
          <div class="form-group">
            <label for="wife-death-place">Death Place</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control" id="wife-death-place" placeholder="{{wifeDeathPlace}}" value="{{wifeDeathPlace}}">
          </div>
        </form>
      </div>
      </div>

      <form class="form-inline" style="display: block;margin auto;">
        <div class="form-group" style="margin-right:20px">
          <label id="marriage-label" for="exampleInputName2">Marriage Date</label>
           <input type="text" class="form-control main-input" id="exampleInputName2" placeholder="{{marriageDate}}" value="{{marriageDate}}">
        </div>
        <div class="form-group">
          <label id="marriage-label" for="exampleInputEmail2">Place</label>
          <input type="text" class="form-control main-input" id="exampleInputEmail2" placeholder="{{marriagePlace}}" value="{{marriagePlace}}">
          <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:right">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
        </div>

      </form>

      <h4 class="turd">Children</h4>
      <table class="table table-bordered table-hover">
        <th>Name</th>
        <th>Sex</th>
        <th>Birth Date</th>
        <th>Birth Place</th>
        <th>Death Date</th>
        <th>Death Place</th>

<tbody>
  {{#each children}}
        <tr>
          <td><a href="#/{{this.id}}edit">{{this.name}}</a></td>
          <td> {{this.sex}}</td>

          <td> {{this.birthDate}}</td>
          <td> {{this.birthPlace}}</td>
          <td> {{this.deathDate}}</td>     
          <td> {{this.deathPlace}}</td>
        </tr>
  {{/each}}


</tbody>
      
      </table>
    </div>

</div>
</div>

    </div>

    </div>
