<span class="person">
I am a farty fart!!!
<h2 class="nameFirst"></h2>
<h3 class="nameLast"></h3>
</span>

<span class="other-person">
I am another person blahb abllblsbh
<h1 class="nameFirst"></h1>
</span>

