<!-- from views/layouts/main.handlebars -->  

    <h1 class="family-tree-generator">Family Tree Maker</h1>

    <!-- <p class="lead">All you ever wanted to know, and then some...</p> -->

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <form>
        <h4 class="parents">Parents of Carl Gustaf Johnson</h4>
        <div class="well admin-well">Carl Johansson & Maria Christina Bjorkdahl <span class="admin-widget glyphicon glyphicon-cog"></span></div>

        <legend>Husband</legend>
                  <div class="admin-wrapper">

                    <label for="exampleInputEmail1">Name</label>
<button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left; border: 0px;margin-bottom:15px">
  <span class="glyphicon glyphicon-align-left glyphicon-paperclip" aria-hidden="true"></span>
</button>
                    <br>

          <div class="form-group" id="test-input">
            <input type="text" class="form-control" value="Carl Gustaf Johnson">
            <a href="#/"><span class="glyphicon glyphicon-remove admin-menu-button" id="cancel"> Cancel</span></a>
            <a href="#/"><span class="glyphicon glyphicon-ok admin-menu-button"> Save</span></a>
          </div>
          <div id="test-well" class="well">Carl Gustaf Johnson</div>
         
</div>
          <div class="form-group">
            <label for="exampleInputPassword1">Birth Date</label> <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-left glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="28 JAN 1873">

          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Birth Place</label><button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-left glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="New Sweden, Maine">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Death Date</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-left glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="3 OCT 1899">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Death Place</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-left glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Westmanland, Maine">
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <form>
 <h4 class="parents">Parents of Sofia (Sophia Olsson) Andersdotter</h4>
        <div class="well">Anders Gustaf Olsson & Johanna Andersdotter <span class="admin-widget glyphicon glyphicon-cog"></span></div>
          <legend>Wife</legend>
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-left glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Sofia (Sophia Olsson) Andersdotter">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Birth Date</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-left glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="14 DEC 1867">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Birth Place</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-left glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Dingtuna, Västmanlands län, Västmanland, Sweden">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Death Date</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-left glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="3 MAY 1962">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Death Place</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-left glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Westmanland, Maine">
          </div>
        </form>
      </div>
      </div>
      <form class="form-inline" style="margin-top:10px">
        <div class="form-group">
          <label id="marriage-label" for="exampleInputName2">Marriage Date</label>
           <input type="text" class="form-control" id="exampleInputName2" placeholder="">
        </div>
        <div class="form-group">
          <label id="marriage-label" for="exampleInputEmail2">Place</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
          <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:right">
  <span class="glyphicon glyphicon-align-left glyphicon-paperclip" aria-hidden="true"></span>
</button>
        </div>

      </form>
      <h4 class="turd">Children</h4>
      <table class="table table-bordered table-hover">
        <th>Name</th>
        <th>Sex</th>
        <th>Birth Date</th>
        <th>Birth Place</th>
        <th>Death Date</th>
        <th>Death Place</th>
        <tr>
          <td>Sterns Harvey Johnson</td>
          <td>M</td>
          <td>01/18/1895</td>
          <td>Westmanland, Maine</td>
          <td>04/17/1976</td>
          <td>Presque Isle, Maine</td>

        </tr>
      
      </table>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      
    </div>
    </div>

    <div class="names-container">
    
    <div class="spinner"><img src="/spinner.gif">
    </div>
    </div>


    <!-- Modal -->

    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Entry</h4>
          </div>
          <div class="modal-body" id="modal-text">
            
            <div class="spinner"><img src="/spinner.gif"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='save-changes'>Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- /Modal -->

<!-- This section will differ across pages -->

      </div>                              <!-- starter-template -->
    </div>                                <!-- /.container -->
    <script src="/js/bundle-admin.js"></script> <!-- page-specific bundle -->
  </body>
</html>
