
      <!-- from views/layouts/main.handlebars -->

<!--
    <h1>Family Tree</h1>

    <p class="lead">All you ever wanted to know, and then some...</p>
-->
  <div class="names-container" style="padding-top:20px">

    <div class="panel panel-default" >
      <div class="panel-heading">
        <h3 class="panel-title">Authorization Required</h3>
      </div>
      <div class="panel-body">

<form class="form-horizontal">
  <fieldset>
    <legend>        Please enter your login credentials to proceed
</legend>
    <div class="form-group">
      <label for="usernwame" class="col-md-2 control-label">Username</label>

      <div class="col-md-10">
        <input type="text" class="form-control" id="username" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-md-2 control-label">Password</label>

      <div class="col-md-10">
        <input type="password" class="form-control" id="password" placeholder="Password">

    </div>
    <div class="form-group">
    
       <button id="button" style="display: block; margin: auto" class="btn btn-raised btn-primary data-ripple">Login</button>
    </div>
  </fieldset>
</form>

      </div>
    </div>
    
  </div>



<!-- This section will differ across pages -->
      </div>                              <!-- starter-template -->
    </div>                                <!-- /.container -->
    <script>

    </script>
    <script src="/js/bundle-login.js"></script>   <!-- page-specific bundle -->
  </body>
</html>