<script id="modal-sources" type="text/x-handlebars-template">
   <h4 class="text-center" style="padding:20px">Source Information</h4>


  <div class="panel panel-default" style="padding:12px">
    <a href="#"><span style="font-size: 14px">Title:</span></a>
  <span>{{title}}</span>

  </div>
  <div class="panel panel-primary" style="padding:12px">
    <a href="#"><span style="font-size: 14px">Page:</span></a>
  <span>{{page}}</span>
  </div>


   <div class="panel panel-primary" style="padding:12px">
   <a href="#"><span style="font-size: 14px;">Reference Id:</span></a>
  <span>{{ref}}</span> 
  </div>

</script>