<!-- from views/layouts/main.handlebars -->  


<div class="panel panel-default" style="padding:15px">



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Warning</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to change this field?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Warning</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to change this field?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Help</h4>
      </div>
      <div class="modal-body">
        A block of text containing helpful information. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>






<div class="modal fade" id="source" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Sources</h4>
      </div>
      <div class="modal-body">
        

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Source Template</label>
            <input type="text" class="form-control"  id="99" placeholder="">
            <label for="exampleInputEmail2">Title</label>
            <input type="text" class="form-control"  id="98" placeholder="">
            <label for="exampleInputEmail3">Author</label>
            <input type="text" class="form-control" id="97" placeholder="">

            <label for="exampleInputEmail4">Publisher Name</label>
            <input type="text" class="form-control"  placeholder="">
            <label for="exampleInputEmail5">Location</label>
            <input type="text" class="form-control"  placeholder="">
            <label for="exampleInputEmail6">Date</label>
            <input type="text" class="form-control"  placeholder="">

            <div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Family Files of...
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    Other options from source repository
    <li>Option 1</li>
    <li>Option 2</li>
  </ul>
</div>

          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>




  <div class="panel-heading">

  <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-menu-left">
    </span>
  </button>

    <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-menu-right">
    </span>
  </button>

    <button class="btn btn-default btn-md" id="print">
    <span class="glyphicon glyphicon-print">
    </span>
  </button>

    <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-list-alt">
    </span>
  </button>

    <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-random">
    </span>
  </button>

    <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-search">
    </span>
  </button>

    <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-paperclip">
    </span>
  </button>


      <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-book">
    </span>
  </button>

      <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-book">
    </span>
  </button>

      <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-book">
    </span>
  </button>

    <button class="btn btn-default btn-md" data-toggle="modal" data-target="#help">
    <span class="glyphicon glyphicon-question-sign">
    </span>
  </button>
  </div>
<div class="panel-body">






    <div class="husband">
        <span class="nameFirst"></span>
    </div>

    <!-- <p class="lead">All you ever wanted to know, and then some...</p> -->

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12" id="husband">
        <form>
        <h4 class="parents"><span id="husband-span">{{ husbandName }}</span></h4>
        <div class="well admin-well" id="husband-parents"><span id="husband-father">

        <a href="/modify?id={{ husbandFamilyBornInto }}">Parents</a>

        </span><span id="husband-mother"></span> <span class="admin-widget glyphicon glyphicon-cog"></span>
</div>

        <legend for="husband">Husband</legend>

        <h4 id="nameFirst"></h4>

<!--
                    
          <div class="form-group">
            <label for="husband-name">Name</label> <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control" id="husband-name" placeholder="Unknown">

          </div>
          !-->
          <div class="person">
            <span class="nameFirst"></span>
            <span class="nameLast"></span>
          </div>
          <div class="form-group">
            <label for="husband-birth-date">Birth Date</label> <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control main-input" id="birthDate" placeholder="{{ husbandBirthDate}}" value="{{ husbandBirthDate }}">

          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Birth Place</label><button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control main-input" id="husband-birth-place" placeholder="{{ husbandBirthPlace }}" value="{{ husbandBirthPlace }}">
          </div>
          <div class="form-group">
            <label for="husband-death-date">Death Date</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control main-input" id="husband-death-date" placeholder="{{ husbandDeathDate }}" value="{{ husbandDeathDate }}">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Death Place</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control main-input" id="husband-death-place" placeholder="{{ husbandDeathPlace }}" value="{{ husbandDeathPlace }}">
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12" id="wife">
        <form>
 <h4 class="parents"><span id="wife-span">{{ wifeName }}</span></h4>
        <div class="well"><span id="wife-father">
          

        <a href="/modify?id={{ wifeFamilyBornInto }}">Parents</a>


        </span><span id="wife-mother"></span> <span class="admin-widget glyphicon glyphicon-cog"></span></div>
          <legend>Wife</legend>


           <h4 class ="dog"></h4>
           <!--
          <div class="form-group">
            <label for="wife-name">Name</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control" id="wife-name" placeholder="Unknown">
          </div>
          !-->
          <div class="form-group">
            <label for="wife-birth-date">Birth Date</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control" id="wife-birth-date" placeholder="{{ wifeBirthDate }}" value="{{ wifeBirthDate }}">
          </div>
          <div class="form-group">
            <label for="wife-birth-place">Birth Place</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control" id="wife-birth-place" placeholder="{{ wifeBirthPlace }}" value="{{ wifeBirthPlace }}">
          </div>
          <div class="form-group">
            <label for="wife-death-date">Death Date</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control" id="wife-death-date" placeholder="{{ wifeDeathDate }}" value="{{ wifeDeathDate }}">
          </div>
          <div class="form-group">
            <label for="wife-death-place">Death Place</label>
            <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:left">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
            <input type="text" class="form-control" id="wife-death-place" placeholder="{{ wifeDeathPlace }}" value="{{ wifeDeathPlace }}">
          </div>
        </form>
      </div>
      </div>

      <form class="form-inline" style="display: block;margin auto;">
        <div class="form-group" style="margin-right:20px">
          <label id="marriage-label" for="exampleInputName2">Marriage Date</label>
           <input type="text" class="form-control main-input" id="exampleInputName2" placeholder="{{ marriageDate }}" value="{{ marriageDate }}">
        </div>
        <div class="form-group">
          <label id="marriage-label" for="exampleInputEmail2">Place</label>
          <input type="text" class="form-control main-input" id="exampleInputEmail2" placeholder="{{ marriagePlace }}" value="{{ marriagePlace }}">
          <button type="button" class="btn-default btn-xs" aria-label="Left Align" style="float:right">
  <span class="glyphicon glyphicon-align-right glyphicon-paperclip" aria-hidden="true"></span>
</button>
        </div>

      </form>

      <h4 class="turd">Children</h4>
      <table class="table table-bordered table-hover">
        <th>Name</th>
        <th>Sex</th>
        <th>Birth Date</th>
        <th>Birth Place</th>
        <th>Death Date</th>
        <th>Death Place</th>
<tbody>
  
  {{children}}

</tbody>
      
      </table>
    </div>

</div>
</div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      
    </div>
    </div>

    <div class="names-container">
    
    </div>
    </div>


    <!-- Modal -->

    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Entry</h4>
          </div>
          <div class="modal-body" id="modal-text">
            
            <div class="spinner"><img src="/spinner.gif"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='save-changes'>Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- /Modal -->

<!-- This section will differ across pages -->

      </div>                              <!-- starter-template -->
    </div>                                <!-- /.container -->
    <script src="/js/bundle-modify.js"></script> <!-- page-specific bundle -->
  </body>
</html>
