<!-- from views/layouts/main.handlebars -->  

   
    <div class="jumbotron" style="margin-top:30px">
  <h2 style="padding:20px">Database</h2>
<h4>Backup</h4>
<button class="newbackup btn btn-primary">
New backup
</button>
  <h4>Restore</h4>

<div id="backups" style="display:block;margin: auto">
  
  <div id="spinner"><img src="/spinner.gif"></div>
</div>

</div>




<!-- This section will differ across pages -->

      </div>                              <!-- starter-template -->
    </div>                                <!-- /.container -->
    <script src="/js/bundle-secure.js"></script> <!-- page-specific bundle -->
  </body>
</html>