<!-- from views/layouts/main.handlebars -->  

    <h1>Family Tree</h1>

    <p class="lead">All you ever wanted to know, and then some...</p>

    <div class="names-container">
    
    <div class="spinner"><img src="/spinner.gif">
    </div>
    </div>


<!-- This section will differ across pages -->

      </div>                              <!-- starter-template -->
    </div>                                <!-- /.container -->
    <script src="/js/bundle.js"></script> <!-- page-specific bundle -->
  </body>
</html>
