<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Swedish Heritage Foundation</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    

     <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Custom styles for this template -->
 
  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="/css/ripples.min.css">
  <link rel="stylesheet" type="text/css" href="/css/material-custom.css">







    
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


 <script id="modal-sources" type="text/x-handlebars-template">
 <h4 class="text-center" style="padding:20px">Source Information</h4>


<div class="panel panel-default" style="padding:12px">
  <a href="#"><span style="font-size: 14px">Title:</span></a>
<span>{{title}}</span>

</div>

<div class="panel panel-primary" style="padding:12px">
  <a href="#"><span style="font-size: 14px">Page:</span></a>
<span>{{page}}</span>
</div>


 <div class="panel panel-primary" style="padding:12px">
 <a href="#"><span style="font-size: 14px;">Reference Id:</span></a>
<span>{{ref}}</span> 
</div>


</script>
    
<script id="modal69" type="text/x-handlebars-template">
  <h4 class="text-center">Are you sure you want to change this field?</h4>
</script>


    <div class="modal fade bs-example-modal-lg" id="modal70" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body" id="modal-text">
            
          <div id="modal-target"></div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='save-changes'>Save changes</button>
          </div>
        </div>
      </div>
    </div>









    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-left"><img src="/flag.png"></a>


          <a class="navbar-brand" href="#">Swedes Of ME</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/login">Login</a></li>
            <li><a href="/secure">Database</a></li>
            <li><a href="/testagain">Family Tree Maker</a></li>

          </ul>
        </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
    <div style="height:120px"></div>
  
      <div class="row">
      <div class="col-md-3">

<div id="search">

<div class="btn-group" >
  <button type="button" style="display:inline-block;margin:auto"class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    People <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Families</a></li>
    <li><a href="#">People</a></li>
    <li><a href="#">Notes</a></li>
    <li><a href="#">Sources</a></li>
  </ul>
</div>

<div id="the-basics" style="width:100%">
  <input class="typeahead" style="width:100%" type="text" placeholder="Find person">
</div>

</div>

      </div>

      </div>
      <div class="col-md-9">




<div class="panel panel-default" style="padding:15px">





    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Entry</h4>
          </div>
          <div class="modal-body" id="modal-text">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='save-changes'>Save changes</button>
          </div>
        </div>
      </div>
    </div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Warning</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to change this field?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Warning</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to change this field?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Help</h4>
      </div>
      <div class="modal-body">
        A block of text containing helpful information. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>






<div class="modal fade" id="source" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Sources</h4>
      </div>
      <div class="modal-body">
        

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Source Template</label>
            <input type="text" class="form-control"  id="99" placeholder="">
            <label for="exampleInputEmail2">Title</label>
            <input type="text" class="form-control"  id="98" placeholder="">
            <label for="exampleInputEmail3">Author</label>
            <input type="text" class="form-control" id="97" placeholder="">

            <label for="exampleInputEmail4">Publisher Name</label>
            <input type="text" class="form-control"  placeholder="">
            <label for="exampleInputEmail5">Location</label>
            <input type="text" class="form-control"  placeholder="">
            <label for="exampleInputEmail6">Date</label>
            <input type="text" class="form-control"  placeholder="">

            <div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Family Files of...
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    Other options from source repository
    <li>Option 1</li>
    <li>Option 2</li>
  </ul>
</div>

          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>







  <div class="panel-heading">

  <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-menu-left">
    </span>
  </button>

    <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-menu-right">
    </span>
  </button>

    <button class="btn btn-default btn-md" id="print">
    <span class="glyphicon glyphicon-print">
    </span>
  </button>

    <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-list-alt">
    </span>
  </button>

    <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-random">
    </span>
  </button>

    <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-search">
    </span>
  </button>

    <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-paperclip">
    </span>
  </button>


    <button class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-book">
    </span>
  </button>

    <button class="btn btn-default btn-md" data-toggle="modal" data-target="#help">
    <span class="glyphicon glyphicon-question-sign">
    </span>
  </button>
  </div>

-->


  <div id="target" style="overflow: scroll;margin-left:1000px">
    <div class="spinner" style="padding:70px"> 
      <img id="spinner" style="display: block;margin:auto;width:18%" src="/spinner.gif">
    </div>
  </div>





    

<!-- This section will differ across pages -->

      </div>                              <!-- starter-template -->
    </div>                                <!-- /.container -->
    
    <script src="/js/bundle-testmod.js"></script> <!-- page-specific bundle -->
  

  </body>
</html>



