<!-- from views/layouts/main.handlebars -->

<!--
    <h1>Family Tree</h1>

    <p class="lead">All you ever wanted to know, and then some...</p>
-->
<div class='input-group' id='the-basics'><input id='search' class='typeahead form-control' type='text' placeholder='Name'></div><div><button class='btn btn-default' id='search-button'>Search People</button></div>
  <div class="names-container">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Person Name</h3>
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      </div>
    </div>
    
    <div class="spinner"><img src="/spinner.gif">
    </div>
  </div>
  <div class="tree">
  </div>


<!-- This section will differ across pages -->
      </div>                              <!-- starter-template -->
    </div>                                <!-- /.container -->
    <script src="/js/bundle-tree.js"></script>   <!-- page-specific bundle -->
  </body>
</html>
