.navbar-header {
  padding-top: 15px;
}

.navbar-left{
  margin-right: 5px;
}

.glyphicon{
  float:right !important;
  border: 0 !important;
}

.btn-xs{
  float:right !important;
  border: 0;
  padding: 4px
}
.typeahead{
  width: 100% !important;
}

.tt-input, 
.tt-hint {
    width: 100% !important;
    height: 30px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 0px;
    outline: none;
}

.tt-input{ /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  width: 100%;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;

}

.tt-suggestion:hover {
  background: #efefef;
  cursor: pointer;
}


.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.navbar-brand{
  font-size: 22px !important;
  font-family: 'Roboto' !important;
}

.node {
  cursor: pointer;
}

.node rect {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
