body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.panel{
  padding: 10px;
  margin: 0px;
  border: 0;
}

.panel-body{
  background-color: #efefef;
}
.panel-heading{
  border-radius: 3px;
}
img{
  width:65px;
  float: left;
  margin: 0 auto;
  margin-right: 14px;
}

.spinner{
  width: 50px;
  display: block;
  margin: 0 auto;
}

.divider{
  margin-bottom: 70px;
  border: 0px solid gray;
}

.menu-buttons{
  float: right;
}
.btn-menu{
  padding: 2px;
  margin: 0;
}
.panel-heading{
  height: auto;
}

.input-group{
  width: 100% !important;
}

.tt-dataset {
  background-color: white;
  border-radius: 4px;
  opacity: 2;
  padding: 24px;
  border: 1px solid #efefef;
  width: 100% !important;
}

.twitter-typeahead{
  width: 100%;
}
.tt-suggestion{
  width: 100%;
}

.tt-suggestion:hover{
  border-radius: 5px;
  background-color: #efefef;
}

.search-people{
}

#the-basics{
  margin: 0;
}
rect {
  border: 1px solid blue;
  width: 150px;
  height: 40px;
  border-radius: 3px;
}

.names-container{
}
/* tree.handlebars */
/*
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
*/

.panel-info {
  visibility: hidden;
}

.panel-body{
  background: white;
}

circle {
  cursor: pointer;
  fill: #fff;
  stroke: #efefef;
  stroke-width: 1.5px;
}

text {
  font-size:10px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.family-tree-generator {
  margin-bottom: 45px;
}

.parents {
  font-size: 13px;
}
table {
  margin-top: 25px;
}
label {
  padding: 5px;
  font-size: 12px;
  display: inline;
  float: left;
}
.admin-widget{
  display: hidden;
  float:right;
  background: #deeff5;
  z-index: 5;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid #cdcdcd;
}

.admin-wrapper {
  height: 95px !important;
}
.turd{
  margin: 35px;
}
th{
  text-align: center;
}
.admin-widget:hover{
  background: white;

}

#test-input{
display: none;
}

.admin-menu-button{

  padding: 5px;
  border-radius: 5px;
  width: 50px;
  font-size: 14px;
}

.tree{
  overflow: scroll;
}

#marriage-label {
  margin: 12px 0px 0px 5px;
  padding-right: 5px;
}
p:first{
  padding-left:6px;
}
button{
  border: 0px !important;
}


div.tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.box {
    fill: none;
    pointer-events: all;
}
.box:hover{
  fill: red;
}

.form-control{
  color: #4582ec !important;
  text: steelblue !important;
}
.navbar-left{
  padding:20px;
}
.navbar-brand{
  padding-left: 30px !important;
}
/* Creates a small triangle extender for the tooltip */


/* Style northward tooltips differently */


/* /tree */